body {
    color: #242731;
    font-family: 'Source Sans Pro', sans-serif;
}

.main {

}

.section-stocks {
    padding: 65px 0;
    @media (max-width: 1060px) {
        padding: 15px 0;
    }
}

.container {
    max-width: 1160px;
    margin: auto;
    @media (max-width: 1060px) {
        padding: 0 16px;
    }
}

.button-purple {
    display: block;
    line-height: normal;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    background:  linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(74, 49, 141, 0.20) 100%), linear-gradient(91deg, #C63CB2 3.87%, #194EBF 111.36%);
    border: none;
    padding: 16px 40px;
    @media (max-width: 1060px) {
        font-size: 17px;

    }
    @media (max-width: 600px) {
        width: 100%;

    }
}
.button-purple:hover{
    background:  linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(74, 49, 141, 0.20) 100%), linear-gradient(91deg, #C63CB2 3.87%, #194EBF 111.36%);
    box-shadow: 0px 8px 16px 0px rgba(4, 0, 199, 0.50);
}
.button-purple:focus, .button-purple:active{
    background: linear-gradient(91deg, #BC38A9 3.87%, #15409C 111.36%);
}

.stocks__wrapper {
    display: grid;
    grid-template-columns: 57% 43%;
    gap: 32px;
    @media (max-width: 1060px) {
        grid-template-columns: 100%;
        gap: 19px;
    }
}

.stocks__advantages-slides {

}

.stocks__advantages-item {
    padding: 60px 30px 80px;
    font-size: 28px;
    border-radius: 8px;
    line-height: 120%;
    display: flex !important;
    flex-direction: column;

    justify-content: space-between;

    @media (max-width: 600px) {
        padding: 16px 12px;
        height: 306px !important;
        width: 100%;
    }
}

.stocks__advantages-item-heading {
    line-height: 120%;
    font-size: 49px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 26px;
    @media (max-width: 600px) {
        font-size: 20px;
        margin-bottom: 5px;

    }
}

.stocks__advantages-item-heading span {
    text-transform: uppercase;
    color: #4A59BE;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    @media (max-width: 600px) {
        font-size: 24px;
    }
}

.stocks__advantages-item-p1 {
    font-size: 28px;
    margin-bottom: 16px;
    @media (max-width: 600px) {
        font-size: 20px;
        margin-bottom: 12px;
    }

}

.stocks__advantages-item-p2 {
    font-size: 24px;
    margin-bottom: 47px;
    color: #4A59BE;
    font-weight: 900;
    @media (max-width: 600px) {
        font-size: 18px;
        max-width: 140px;
        margin-bottom: 30px;
        font-weight: 900;
        line-height: 120%;

    }
}
.stocks__advantages-item-p3{
    color: #4A59BE;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    @media (max-width: 600px) {
        font-size: 18px;
        line-height: 110%;

    }

}
.stocks__advantages-item-p4{
    margin-bottom: 38px;
    font-size: 22px;
    font-weight: 400;
    max-width: 429px;
    @media (max-width: 600px) {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
    }
}
span.stocks__advantages-item-p5 {
    @media (max-width: 600px) {
        display: none;
    }
}
.stocks__advantages-item-p5{
    color: #4A59BE;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 130%;
    @media (max-width: 600px) {
        font-size: 24px;
        margin-bottom: 8px;

    }

}

.stocks__advantages-item-p6{
    max-width: 321px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    @media (max-width: 600px) {
        font-size: 20px;
        margin-bottom: 8px;
        line-height: 110%;
    }


}
.stocks__advantages-item-p6 span{
    text-decoration-line: underline;
}
.stocks__advantages-item-p7{
    max-width: 290px;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 37px;
    @media (max-width: 600px) {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 55px;
    }

}
.stocks__advantages-item-p3.fs-32{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    @media (max-width: 600px) {
        font-size: 24px;
        line-height: 110%;
        margin-bottom: 3px;

    }

}
.stocks__advantages-item-p3.fs-28{
    text-transform: uppercase;
    font-size: 28px;
    line-height: 150%;
    font-weight: 600;

    @media (max-width: 600px) {
        margin-top: 5px;
        margin-bottom: 8px;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
    }


}
.stocks__discounts-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media (max-width: 1060px) {
        gap: 16px;
    }

}

.stocks__discounts-card {
    padding: 22px;
    border-radius: 8px;
    width: 465px;
    font-size: 24px;
    font-weight: 600;
    @media (max-width: 1060px) {
        grid-template-columns: 100%;
        align-self: center;

    }
    @media (max-width: 600px) {
        padding: 16px;
        width: 100%;
        font-size: 20px;

    }
}
.stocks__discounts-card span{
    color: #D11D1D;
    font-size: 48px;
    font-weight: 700;
    @media (max-width: 600px) {
        font-size: 40px;

    }
}
.stocks__discounts-card p{
   margin-bottom: 27px;
    line-height: 120%;
}
.stocks__discounts-card .button-purple{
    padding: 14px 32px;
    font-size:18px;
    @media (max-width: 600px) {
        width: 100%;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }
}
.stocks__advantages-item.item1 {
    background-image: url("./img/bgItem1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 600px) {
        padding: 16px 12px;
        background-image: url("./img/bgItemMob3.jpg");

    }
}
.stocks__advantages-item.item2 {
    background-image: url("./img/bgItem2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 87px 30px 80px;
    @media (max-width: 600px) {
        padding: 16px 12px;
        background-image: url("./img/bgItemMob2.jpg");

    }
}
.stocks__advantages-item.item3 {
    background-image: url("./img/bgItem3.jpg");
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 30px 66px ;

    @media (max-width: 600px) {
        padding: 16px 12px;
    }
    @media (max-width: 500px) {
        background-image: url("./img/bgItemMob1.jpg");

    }
}

.stocks__discounts-card.card1 {
    background-image: url("./img/bgItem4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.stocks__discounts-card.card2 {
    background-image: url("./img/bgItem5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
}
.slick-dots button {
    font-size:0;
    background: #EAEAEA;
    border: none;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    margin: 5px;
    outline: none;
}
.slick-dots li[class="slick-active"] button {
    background: #AF99CC;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    z-index: 2;
    font-size: 0;
    width: 30px;
    height: 30px;
}
.slick-slide{
    display: flex;
}
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 57px;
    height: 57px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 4px 6px 14px 10px rgba(24, 19, 53, 0.08);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
    @media (max-width: 600px) {
        width: 32px;
        height: 32px;
    }

}
.next-btn img{
    @media (max-width: 600px) {
        width: 12px;
        height: 12px;
    }
}

.prev-btn {
    display: none;
    left: 0;

}

.next-btn {
    right: 7px;
}
.next-btn:hover {
    background: #fff;

}


.section-franchises{

}
.franchises-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    @media (max-width: 1050px) {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 15px;
        justify-content: center;
        gap: 15px;

    }
    @media (max-width: 770px) {
        grid-template-columns: 1fr;
    }

}
.franchise_item {
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(44, 35, 99, 0.06);
    border-radius: 8px;

    @media (max-width: 1050px) {
        max-width: 365px;
        justify-self: center;

    }
    @media (max-width: 700px) {
        max-width: 100%;
        width: 290px;
    }
}

.franchise_item .photo_link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius:  8px;
    border-top-right-radius:  8px;
;
}
.franchise_item .text_cont {
    width: 100%;
    padding: 15px;
}
.franchise_item .link_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;

}
.franchise_item .bottom_area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: start;
    }
}
.franchise_item .bottom_area .left-wrapp {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.franchise_item .bottom_area .left-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.franchise_item .bottom_area .right {
    position: relative;
    justify-content: end;
    gap: 10px;
    max-width: 130px;
    @media (max-width: 700px) {
        width: 100%;
        max-width: 100%;
    }

}
.franchise_item_hint{
    display: none;
    position: absolute;
    top: 34px;
    right: -51px;

}
.franchise_item_hint.hovered{
    display: block;
    @media (max-width: 900px) {
        display: none;
    }
}
.franchise_item .bottom_area .left-info span {
    color: #686868;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 6px;
}
.franchise_item .bottom_area span.left-info-blue{
    color: #3586CF;
    font-size: 15px;
    font-weight: 600;
}

.franchise_item .name {
    width: 100%;
    color: #242731;
    font-size: 20px;
    line-height: normal;
    overflow: hidden;
    margin-bottom: 13px;
    display: inline-block;
    text-align: left;
    @media (max-width: 700px) {
        font-size: 18px;
        margin-bottom: 8px;
    }

}
.invest{
    font-size: 18px;

}
.franchise_item__button{
    line-height: normal;
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(180deg, #DEF 0%, #C8E1F8 100%);
    border: none;
    color: #4582EF;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 700px) {
        width: 100%;
    }
}
.franchise_item__button:focus, .franchise_item__button:active{
    background: #B3DAFF;
}
.franchise_item__button:hover{
    border-radius: 8px;
    background: linear-gradient(180deg, #E5F3FF 0%, #CEE7FF 100%);
    box-shadow: 0 4px 10px 0 rgba(67, 175, 253, 0.17);
}

.franchise_item .bottom_area span.left-info-pink{
    color: #C055B9;
    font-size: 15px;
    font-weight: 600;
}

.section-info{
    padding: 50px 0;
    @media (max-width: 1050px) {
        display: none;
    }

}
.info-wrapp{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 24px;
    padding-left: 36px;
    background-image: url("./img/franchise-info.png");
    background-repeat: no-repeat;
}
.info_head{
    font-size: 40px;
    font-weight: 700;
    background:  linear-gradient(90deg, #0000B1 -12.12%, #4B4CFA 110.61%);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 23px;
}
.info_p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    max-width: 619px;
    margin-bottom: 25px;
    line-height: normal;
}
.info_list{
    max-width: 465px;
    padding-left: 17px;
}
.info_list_item{
    margin-bottom: 16px;
    position: relative;
    line-height: normal;
}
.info_list_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    width: 3px;
    height: 100%;
    background-color: #C2C9FF;
}
.sections-actions{
    padding-bottom:70px ;
}
.actions_wrapp_blocks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @media (max-width: 1060px) {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}
.actions_block{
    border-radius: 8px;
    padding: 30px 70px 40px 28px;

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    @media (max-width: 1060px) {
        background-position-y:center;

    }
    @media (max-width: 600px) {
        padding: 16px;
    }
}
.actions_block.item1{
    background-image: url("./img/bgAction1.jpg");
    background-position-x: center;
    @media (max-width: 600px) {
        grid-row: 4/5;

    }
}
.actions_block.item2{
    background-image: url("./img/bgAction2.jpg");
}
.actions_head{
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    color: #023D7F;
    margin-bottom: 4px;
    @media (max-width: 600px) {
        font-size: 20px;
    }

}
.actions_block.item2 .actions_head{
    @media (max-width: 600px) {
        font-size: 18px;
        max-width: 180px;
    }
}
.actions_p{
    color: #EB6124;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 23px;
    @media (max-width: 600px) {
        font-size: 18px;
        margin-bottom: 4px;

    }
}
.actions_list{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style-type: disc;
    color: #023D7F;
    margin-bottom: 33px;
    padding-left: 17px;
    @media (max-width: 600px) {
        font-size: 16px;
        margin-bottom: 17px;

    }
}

.actions_button{
    text-align: center;
    border-radius: 8px;
    background:  linear-gradient(180deg, #FA7439 0%, #EB6124 100%);
    text-decoration: none;
    padding: 12px 56px;
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border:none;
    margin-top: auto;
    @media (max-width: 600px) {
        width: 100%;
    }

}
.actions_button:focus, actions_button:active{
    background: #EB520F;
}
.actions_button:hover{
    background: linear-gradient(180deg, #FF905F 0%, #FC7337 100%);
    box-shadow: 0px 4px 8px 0px rgba(221, 95, 41, 0.25);
}
.actions_p_item2 {
    color: #023D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 68px;
    max-width: 300px;
    @media (max-width: 600px) {
        font-size: 18px;
        margin-bottom: 23px;
        max-width: 180px;
    }
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed;
    cursor: default;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    top: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    z-index: 10;
    display: block;
    visibility: hidden;
    margin: 0 auto;
    width: 90%;
    min-width: 280px;
    max-width: 424px;
    position: fixed;
    padding: 24px 30px 30px;
    border: 1px solid #383838;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 8px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    @media (max-width: 700px) {
       padding: 16px ;
    }
}
.overlay:target+.popup {
    top: 20%;
    visibility: visible;
    opacity: 1;
    @media (max-width: 800px) {
        top: 11%;
    }
}
.close {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
    @media (max-width: 700px) {
        top: 12px;
        right: 12px;

    }
}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.popup-head{
    color:  #242731;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 16px;
    @media (max-width: 700px) {
        font-size: 20px;
        margin-bottom: 14px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;

    }
}
.popup__form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

}
.popup__form-input{

    padding: 10px 16px;
    border-radius: 8px;
    background: #F1F2F3;
    border: none;
    height: 45px;
    @media (max-width: 426px) {
        height: 49px;
        padding: 5px 16px;
    }

}
.popup__form input:focus-visible, .popup__form-input:focus-visible{
    outline: none;
}
.popup__form-input::placeholder{
    color: #8C8C8C;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    font-family: Source Sans Pro;
    @media (max-width: 700px) {
        font-size: 16px;
    }

}
.popup__form-input.wrapp__input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.popup__form__button{
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    justify-content: center;
    gap: 8px;
    padding: 6px 28px 6px 24px;
    border-radius: 8px;
    background: linear-gradient(180deg, #1ACEEE 0%, #00A9C7 100%);
    color: #fff;
    margin-top:18px ;

}
.popup__form__button:hover{
    background: linear-gradient(180deg, #22D5F5 0%, #01BBDB 100%);
}
.popup__form__button:active{
    background: #0EB1CE;
}
.popup__form-input-city{
    border: none;
    background: #F1F2F3;

}
.popup__form-input-city::placeholder{
    color: #8C8C8C;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;

}
.button-form-city{
    border: none;
    background: none;
    color:  #6D9DF3;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    @media (max-width: 700px) {
        display: none;

    }
}
.button-form-city:hover{
    color:  #256AE4;

}
.popup__form-input.wrapp__input__phone{
    margin: 0;
    display: flex;
    flex-direction: row;
}
.wrapp__input__phone select, .wrapp__input__phone input{
    border: none;
    background: none;

}

.popup__wrapp__p{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 28px;
    color: #656565;
    font-size: 14px;
    line-height: 17.6px;
    @media (max-width: 700px) {
        margin-top: 18px;
        font-size: 13px;
        line-height: 16.6px;

    }

}
.popup__wrapp__p .svg_popup{
    min-width: 18px;

}

.popup.popup-success{
    padding: 16px;
    padding-bottom: 6px;
    @media (max-width: 500px) {
        padding-bottom: 16px;
    }
}
.popup_bg{
    border-radius:8px ;
    background-image: url("./img/bg-popup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 405px;
    padding: 11px 16px 22px;
    @media (max-width: 500px) {
        padding: 9px 16px 7px;
        background-image: url("./img/bg-popup-mob.jpg");
        background-position-y: 0;

    }
}

.popup-success-head{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    @media (max-width: 700px) {
        font-size: 17px;
    }
}
.popup-success-head span{
    @media (max-width: 500px) {
        display: block
    }
}
.popup-success-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 12px;
    @media (max-width: 700px) {
        font-size: 14px;
        margin-bottom: 7px;
        text-align: center;

    }
}
.wrapp-icon{
    display: flex;
    flex-direction: row;
    gap: 9px;
}
.popup-wrapp-bottom{
    display: flex;
    gap: 17px;
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;

    }
}
.popup-wrapp-bottom p{
    color: #7F828C;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    @media (max-width: 700px) {
        font-size: 14px;
        text-align: center;
    }
}